.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 2rem;
  margin-bottom: 60px; /* Для мобильного навбара */
}

@media (min-width: 769px) {
  .content {
    margin-bottom: 0;
  }
} 